<html>
    <head>
      <title>Xv Hot Rank</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="x5-orientation" content="portrait">
      <link rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css">
      <style>
            .button-xs{
                height: 22px;
                line-height: 22px;
                font-size: 12px;
                padding: 0 6px;
            }
            h6,.no-break{
              font-size: 16px;
              height: 2em;
              overflow: hidden;
              text-overflow:ellipsis;
              white-space: nowrap;
          }
          .modal{
              max-width: 100%;
          }
          .modal-head .modal-title{
              font-size: 14px;
              margin-bottom: 0; height: 1em; line-height: 1em;
          }
          .progress-bar{
              position: fixed; top: 0; width: 100%; height: 10px;
              z-index: 9999;
              border-radius: 0; margin: 0;
          }
          .progress-bar>span{
              border-radius: 0;
          }
        </style>
    </head>
    <body ng-app="app">{% raw %}
        <div ng-controller="MainControll" ng-cloak>
            <div class="progress-bar striped animated" ng-if="progressing">
                <span class="progress-bar-red" style="width: 100%;"></span>
            </div>
            <div class="modal-mask" ng-if="showModal">
                <div class="modal">
                    <div class="modal-head">
                        <p class="modal-title no-break" ng-bind="movie.title"></p>
                    </div>
                    <div>
                        <video width="100%" height="auto" controls="controls">
                            <source ng-if="showModal" ng-src="{{movie.src}}" type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="modal-footer">
                        <button class="button-danger-outlined button-xs" ng-click="closeModal()">Close</button>
                        <button class="button-success-outlined button-xs float-right" ng-click="star(movie)">Star {{ movie.star }}</button>
                    </div>
                    <div class="clear-fix"></div>
                </div>
            </div>
            <nav>
                <div class="nav-container">
                    <div class="nav-logo">
                        <a href="./">XxxxVideos</a>
                    </div>
                    <ul class="nav-links">
                        <li><a href="./">Home</a></li>
                        <li><a class="" href="./changelog">Changelog</a></li>
                    </ul>
                    <a class="mobile-menu-toggle"></a>
                    <ul class="mobile-menu menu" style="display: none;">
                        <li><a href="./">Home</a></li>
                    </ul>
                </div>
            </nav>
            <main>
                <div class="container">
                    <section id="result">
                        <h2>Hot Top 10</h2>
                        <ol>
                            <li ng-repeat="row in result.rows" >
                                <a href="" ng-click="show(row)">
                                    <strong ng-bind="row.title"></strong>
                                    <span style="color: #333; font-size: 12px;"> &nbsp;&nbsp;&nbsp; {{ row.star }} Stars </span>
                                </a>
                            </li>
                        </ol>
                    </section>
                </div>
            </main>
        </div>
        <script src="https://cdn.bootcss.com/angular.js/1.7.0/angular.min.js"></script>
        <script src="https://cdn.bootcss.com/lodash.js/4.17.10/lodash.min.js"></script>
<script>
    var app = angular.module('app',[]);
    
    app.controller('MainControll', function($scope, $http){
        $scope.result = { rows: [] }
        $scope.progressing = false
        $scope.showModal = false
        $scope.movie = {}
        $scope.get_hot_rank = function(){
            $http.get(`./api/hot_rank`)
                .then(function(rsp){
                    $scope.result.rows = rsp.data
                })
                .catch(function(err){
                    console.error(err)
                })
        }
        $scope.get_hot_rank()

        $scope.closeModal = function(){
            $scope.movie = {}
            $scope.showModal = false
            $scope.get_hot_rank()
        }
        $scope.star = function(movie) {
            $http.get(`./api/star/${movie.id}`)
                .then(function(rsp){
                    movie.star++
                })
        }
        $scope.show = function(row) {
            $scope.progressing = true
            $http.get(`./api/video/${row.id}/${row.short_href}`)
                .then(function(rsp){
                    var data = rsp.data
                    $scope.movie.title = row.title
                    $scope.movie = _.assign($scope.movie, data)
                    $scope.showModal = true
                    $scope.progressing = false
                })
                .catch(function(err){
                    $scope.progressing = false
                })
        }
    });
        
</script>{% endraw %}
    </body>
</html>